@using MotorRegister.Api
@using MotorRegister.Core.Entities

<div class="card">
    <h3>@Vehicle.Designation.Model</h3>
    <p>License Plate: @Vehicle.RegistrationNumber</p>
    <p>Usage: @Vehicle.Usage</p>
    <p>Registration Number: @Vehicle.RegistrationNumber</p>
    <p>Variant: @Vehicle.Designation.Variant</p>
</div>

@code {
    [Parameter]
    public VehicleDTO Vehicle { get; set; }
}